<header>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="search" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="button" class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
<section class="feautures">
    <figure>
      <img src="../../assets/freshbread2.jpg" width="250px" height="350px">
      <figcaption>Fresh Baked Bread</figcaption>
    </figure>
    <figure>
      <img src="../../assets/bisket.jpg" width="250px" height="350px">
      <figcaption>Fresh Baked Desserts</figcaption>
    </figure>
    <figure>
      <img src="../../assets/testo2.jpg" width="250px" height="350px">
      <figcaption>Join our Master Classes</figcaption>
    </figure>
</section>
  <footer>123 Street Tasty Backery. Call +11235813 for some magic</footer> 