
.login{
    position: relative;
}
form {
    position: absolute;
    top: 5rem;
    left: 7rem;
}
.button {
    padding-top: 10px;
}
.image {
    position: absolute;
    left: 50rem;
}
.baker {
    position: absolute;
    top: 15.9rem;
    left: 23rem;

}